body{
    background-color: rgb(32, 32, 78);
    margin: 0px;
    block-size: 100px;
}
.moon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 25px;
    z-index: 5;
    box-shadow: 20px 15px 4px 13px rgb(255, 255, 255)
}
.star-six{
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 10em solid rgb(27, 98, 139);
    position: relative;
    font-size: 5px;
}
.star-six:after{
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-top: 10em solid rgb(27, 98, 139);
    position: absolute;
    content: "";
    top: 3em;
    left: -5em;
}
.grass{
    background-color: rgb(9, 61, 9);
    box-sizing: border-box;
    width: 100%;    
    height: 20pc;
    position: absolute;
}
.tri {
    width: 0;
    height: 200px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(33, 108, 6);
    display: inline-flex;

}